<b>New comment in ticket №{{ message.meta.data.ticketNumber }}</b>
Date of creation: {{ message.meta.data.commentCreatedAt }}
Organization: {{ message.meta.data.organizationName }}
Status: {{ message.meta.data.ticketStatus }}
Address: {{ message.meta.data.ticketAddress }}
Unit: {{ message.meta.data.ticketUnit }}
Comment: {{ message.meta.data.commentContent }}