Скачать квитанцию за {{month}} {{year}} года можно во вложении.
Если вы не хотите получать письма с квитанциями, перейдите по ссылке <a href="https://v1.doma.ai/unsubscribe?id={{id}}" target="_blank">отписаться</a>