<html style="fmargin: 0; font-family: Roboto, Arial, 'Nimbus Sans L', Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 32px; text-align: left;">
<body style="margin: 0; font-family: Roboto, Arial, 'Nimbus Sans L', Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 32px; text-align: left;">
<p style="font-family: Roboto, Arial, 'Nimbus Sans L', Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 32px; text-align: left;">
    Добрый день!<br>
    Высылаем квитанции за услуги ЖКХ.<br>
    <br>
    Для оплаты и получения квитанций используйте мобильное приложение Doma - в нем можно просмотреть и скачать полную квитанцию.<br>
    <br>
    Установите приложение одним из способов<br>
</p>
<ul style="font-family: Roboto, Arial, 'Nimbus Sans L', Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 32px; text-align: left;">
    <li>в Google Play или Huawei AppGallery в поисковой строке введите латинскими буквами Doma</li>
    <li>отсканируйте QR-код на квитанции или пройдите по <a href="https://clck.ru/376TNL">ссылке</a></li>
</ul>
<p style="font-family: Roboto, Arial, 'Nimbus Sans L', Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 32px; text-align: left;">
    Также получать квитанции  и отправлять заявки в управляющую компанию можно в веб-версии личного кабинета по ссылке: <a href="https://m.doma.ai">m.doma.ai</a> через браузер на ПК или в телефоне.
</p>
<p style="font-family: Roboto, Arial, 'Nimbus Sans L', Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 32px; text-align: left;">
    Добавьте номер лицевого счета в приложении или веб-кабинете. В разделе «Оплаты» выберите квитанцию – «Подробнее» - «Открыть бумажную версию». Значок скачивания в правом верхнем углу.
</p>
<br>
<br>
Если вы не хотите получать письма с квитанциями, перейдите по ссылке <a
        href="{{ env.serverUrl }}/api/unsubscribe?id={{ message.id }}">отписаться</a>
</body>
</html>