<b>New comment in pass №{{ message.meta.data.passTicketNumber }}</b>
Organization: {{ message.meta.data.organizationName }}
Date of creation: {{ message.meta.data.commentCreatedAt }}
Status: {{ message.meta.data.passTicketStatus }}
Address: {{ message.meta.data.passTicketAddress }}
Comment text: {{ message.meta.data.comment }}
