.menu-collapse {
  position: fixed;
  top: 72px;
  right: 0;
  left: 0;
  z-index: 1;
  background: var(--condo-global-color-white);
  border-bottom: var(--condo-global-border-width-default) solid var(--condo-global-color-gray-3);
  border-radius: 0;
}

.menu-collapse :global(.ant-collapse-header) {
  padding: 12px 32px !important;
}

.menu-collapse :global(.ant-collapse-content) {
  height: calc(100vh - 72px - 48px);
  overflow-y: scroll;
}

.menu-collapse :global(.ant-collapse-content-box) {
  padding: 0 16px 28px !important;
}