.logo-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 300px;
  height: 28px;
  padding-right: 40px;
  text-decoration: none;
  column-gap: 10px;
}

.logo-image-wrapper {
  width: 28px;
  height: 28px;
}

.logo-text {
  color: var(--condo-global-color-black);
  font-size: 20px;
  line-height: 24px;
}

.dropout-wrapper {
  height: var(--condo-global-spacing-24);
  cursor: pointer;
}

.logo {
  object-fit: contain;
  object-position: left;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 72px;
  padding: 0 32px;
  line-height: inherit;
  background-color: var(--condo-global-color-white);
  border-bottom: 1px solid var(--condo-global-color-gray-3);
}