.menu-action-icon {
  cursor: pointer;
}

.menu-container {
  position: fixed;
  top: 72px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 72px);
  background: var(--condo-global-color-white);
}

.mobile-action-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: calc(16px - var(--condo-global-border-width-default)) 16px 16px;
  border-top: var(--condo-global-border-width-default) solid var(--condo-global-color-gray-3);
}

.mobile-menu-container {
  padding: 16px 32px;
}

.mobile-menu-container :global(.condo-typography-inherit) {
  color: var(--condo-global-color-gray-7);
  cursor: pointer;
  transition: color var(--condo-global-transition-duration-default) ease-in-out;
}

.mobile-menu-container :global(.condo-typography-inherit):hover {
  color: var(--condo-global-color-black);
}

.mobile-auth-panel {
  position: absolute;
  bottom: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: calc(16px - var(--condo-global-border-width-default)) 16px 16px;
}