/* Side-menu */

.menu.desktop-menu {
  position: fixed;
  z-index: 10;
  box-sizing: border-box;
  height: 100vh;
  padding: 28px 0 0;
  border-color: var(--condo-global-color-gray-3);
  border-style: solid;
  border-width: 0 1px 0 0;
}

.menu.mobile-menu {
  position: fixed;
  z-index: 100;
  box-sizing: border-box;
  height: 100vh;
  padding: 16px 0 60px;
  overflow-y: scroll;
}

.desktop-menu .logo-container {
  height: 36px;
  margin-bottom: 40px;

  /* -9px = Sun logo part */
  padding: 0 28px 0 19px;
}

.desktop-menu.ant-layout-sider-collapsed .logo-container {
  padding: 0 32px;
}

.desktop-menu .logo-container > * {
  cursor: pointer;
}

.desktop-menu .actions-container {
  position: relative;
  width: 100%;
  margin-bottom: 8px;
  padding: 0 20px;
}

.desktop-menu .menu-items-container {
  /* 28px offset to logo + 36px logo + 40px offset = 104px */
  height: calc(100vh - 104px);

  /* 32px - 8px of margin - 12px padding of first menu item */
  padding: 12px 35.5px 40px;
  overflow-x: hidden;
}

.desktop-menu .actions-container + .menu-items-container {
  /* Same as above, but include resident actions button (48px) + offset (8px) = 104 + 56 = 160px */
  height: calc(100vh - 160px);
}

.desktop-menu .expand-button {
  position: absolute;
  top: 32px;
  right: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--condo-global-color-gray-7);
  background: var(--condo-global-color-white);
  border-radius: 8px;
  box-shadow: var(--condo-global-box-shadow-default);
  cursor: pointer;
}

.desktop-menu .expand-button:hover {
  color: var(--condo-global-color-black);
}

/* Header */
.desktop-header {
  z-index: 9;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  max-width: 1600px;
  height: 84px;
  padding: 24px 40px 12px;
  line-height: 1.5;
  background: var(--condo-global-color-white);
}

.desktop-header .top-menu-items {
  margin-left: auto;
}

.mobile-header {
  width: 100%;
  height: 104px;
  padding: 0;
}

.mobile-header .appeals-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 8px 16px;
  background: var(--condo-global-color-white);
  border-bottom: 1px solid var(--condo-global-color-gray-3);
}

.mobile-header .appeals-bar .logo {
  /* Note: to align center position with space between */
  transform: translateX(12px);
}

.mobile-header .context-bar {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 10px 16px;
  background: var(--condo-global-color-gray-1);
}

.organization-dropdown.ant-dropdown-open .arrow-icon {
  transform: rotate(180deg);
}

.organization-dropdown-overlay .ant-dropdown-menu {
  max-height: 360px;
  overflow-y: auto;
}

.organization-selector .condo-typography {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

.mobile-header .organization-user-block {
  display: flex;
  gap: 20px;
}

.user-dropdown {
  cursor: pointer;
}

.user-dropdown .expand-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.organization-dropdown-overlay .ant-dropdown-menu-item-active,
.user-dropdown-overlay .ant-dropdown-menu-item-active {
  background: var(--condo-global-color-gray-1);
}

/* Appeals special button */

.mobile-header .organization-user-block .organization-selector .condo-typography {
  max-width: 100px;
}

/* Notifications */

/* Note: all notifications must be below modal */
.ant-notification {
  z-index: 999;
}

/* Button */

.condo-btn.condo-btn-sbbol {
  border-color: var(--condo-global-color-teal-5);
}

.condo-btn.condo-btn-sbbol .condo-btn-text {
  color: var(--condo-global-color-teal-5);
}

.condo-btn.condo-btn-sbbol:hover .condo-btn-text {
  color: var(--condo-global-color-green-5);
}

.condo-btn.condo-btn-sbbol:active .condo-btn-text {
  color: var(--condo-global-color-green-7);
}

.condo-btn.condo-btn-sbbol:hover .condo-btn-icon svg path {
  fill: var(--condo-global-color-green-5);
}

.condo-btn.condo-btn-sbbol:active .condo-btn-icon svg path {
  fill: var(--condo-global-color-green-7);
}

/* Property map */
.add-element-dropdown > .condo-dropdown-menu {
  max-height: 100vh;
}

.add-element-dropdown > .condo-dropdown-menu .condo-dropdown-menu-title-content > .condo-space {
  align-items: center;
}

.map-edit-address-container .condo-select > .condo-select-selector {
  background-color: transparent;
}

.property-map-container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.property-map-scroll-holder {
  position: static;
  padding-bottom: 10px;
  white-space: nowrap;
}

.property-map-scroll-container {
  width: 100%;
  padding-bottom: 20px;
  overflow-y: hidden;
}

.unit-button-tooltip-wrapper {
  display: inline-flex;
  margin-right: 8px;
}

.property-map-floor-container {
  display: block;
}

.property-map-unit-type-row {
  padding-left: 8px;
}

.property-map-fullscreen-header {
  align-items: center;
  margin-bottom: 28px;
}

.unit-name-error .condo-input-affix-wrapper,
.unit-name-error .condo-input-affix-wrapper:hover,
.unit-name-error .condo-input-affix-wrapper:focus {
  border-color: var(--condo-global-color-red-5);
}

.unit-name-error .condo-typography-primary {
  color: var(--condo-global-color-red-5);
}

.map-unit-button {
  width: 44px;
  min-width: 44px;
  height: 44px;
  margin-top: 8px;
  margin-right: 8px;
  padding: 0 8px;
  color: var(--condo-global-color-black);
  background-color: var(--condo-global-color-white);
  border: 1px solid var(--condo-global-color-gray-1);
  transition: var(--condo-global-transition-duration-default);
}

.map-unit-button[ant-click-animating-without-extra-node="true"]::after {
  display: none;
}

.map-unit-button:last-child {
  margin-right: 0;
}

.map-unit-button:focus,
.map-unit-button:hover {
  color: var(--condo-global-color-black);
  border-color: var(--condo-global-color-gray-7);
}

.map-unit-button:disabled,
.map-unit-button:disabled:hover {
  color: black;
  background-color: var(--condo-global-color-white);
  border: transparent;
  cursor: default;
  pointer-events: none;
}

.condo-btn.map-unit-button-section {
  background-color: transparent;
  border-color: var(--condo-global-color-gray-5);
}

.map-unit-button-section:hover,
.map-unit-button-section:focus {
  background-color: transparent;
  border-color: var(--condo-global-color-gray-7);
}

.map-unit-button.map-unit-button-floor {
  display: block;
  background-color: transparent;
  border: none;
}

.condo-btn.map-unit-button.map-unit-button-section > .condo-btn-text,
.condo-btn.map-unit-button.map-unit-button-floor > .condo-btn-text {
  font-size: 14px;
}

.condo-btn.map-unit-button.map-unit-button-selected {
  background: var(--condo-global-color-brand-gradient-1);
  border-color: var(--condo-global-color-green-5);
}

.condo-btn.map-unit-button > .condo-btn-text:hover,
.condo-btn.map-unit-button > .condo-btn-text:focus {
  background: none;
}

.condo-btn.map-unit-button.map-unit-button-selected > .condo-btn-text,
.condo-btn.map-unit-button.map-unit-button-selected:hover > .condo-btn-text,
.condo-btn.map-unit-button.map-unit-button-selected:focus > .condo-btn-text {
  color: var(--condo-global-color-green-7);
}

.map-preview-unit-button {
  opacity: 0.5;
}

.condo-btn.map-unit-button.map-duplicate-unit-button {
  background-color: var(--condo-global-color-red-5);
}

.map-unit-button.map-flat-unit-button,
.map-unit-button.map-flat-unit-button:hover,
.map-unit-button.map-parking-unit-button,
.map-unit-button.map-parking-unit-button:hover {
  background-color: var(--condo-global-color-white);
}

.map-unit-button.map-apartment-unit-button,
.map-unit-button.map-apartment-unit-button:hover {
  background-color: #cbe2f6;
}

.map-unit-button.map-warehouse-unit-button,
.map-unit-button.map-warehouse-unit-button:hover {
  background-color: #f086334d;
}

.map-unit-button.map-commercial-unit-button,
.map-unit-button.map-commercial-unit-button:hover {
  background-color: #eb34684d;
}

.ant-comment > .ant-comment-inner {
  padding: 0;
}

.ant-drawer.ant-drawer-right > .ant-drawer-content-wrapper {
  top: 20px;
  right: 20px;
  height: calc(100% - 40px);
  box-shadow: none;
}

@media (max-width: 480px) {
  .ant-drawer.ant-drawer-right > .ant-drawer-content-wrapper {
    top: 0;
    right: 0;
    height: 100%;
  }
}

.ant-drawer-content {
  border-radius: 24px;
}

.ant-drawer-header {
  padding: 24px;
}

.ant-drawer-wrapper-body > .ant-drawer-header {
  padding-bottom: 0;
  border: none;
}

.ant-drawer-header-title > .ant-drawer-close {
  display: none;
}

.condo-input-utils > span > .ant-upload-list.ant-upload-list-text {
  position: absolute;
  top: 52px;
  left: -12px;
  width: calc(100% + 24px);
  margin-bottom: 10px;
  overflow-y: scroll;
}
