**/.env
**/.git*
!**/.gitignore
**/__*
**/*.log
**/.DS_Store
**/Thumbs.db
**/Dockerfile
**/node_modules
**/.next
**/.turbo
**/dist
**/out
!/out
**/.idea
**/.kmigrator
**/docs
**/docker*
**/.docker*
**/werf*
**/.werf*
**/helm*
**/.helm*
.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases