**/.env*
**/.git*
**/__*
**/*.log
**/.DS_Store
**/Thumbs.db
**/Dockerfile
**/node_modules
**/.next
**/.turbo
**/dist
**/out
**/.idea
**/.kmigrator
**/docs
**/docker*
**/.docker*
**/werf*
**/.werf*
**/helm*
**/.helm*
