[submodule "infrastructure/helm"]
	path = .helm
	url = ../infrastructure-condo.git
[submodule "apps/announcements"]
	path = apps/announcements
	url = git@github.com:open-condo-software/condo-announcements.git
[submodule "apps/asterisk-bot"]
	path = apps/asterisk-bot
	url = git@github.com:open-condo-software/condo-asterisk-bot.git
[submodule "apps/classifiers-api"]
	path = apps/classifiers-api
	url = git@github.com:open-condo-software/condo-classifiers-api.git
[submodule "apps/documents"]
	path = apps/documents
	url = git@github.com:open-condo-software/condo-documents.git
[submodule "apps/pass"]
	path = apps/pass
	url = git@github.com:open-condo-software/condo-pass.git
[submodule "apps/telephony"]
	path = apps/telephony
	url = git@github.com:open-condo-software/condo-telephony.git
[submodule "apps/telephony-ws-api"]
	path = apps/telephony-ws-api
	url = git@github.com:open-condo-software/condo-telephony-ws-api.git
[submodule "apps/ticket-importer"]
	path = apps/ticket-importer
	url = git@github.com:open-condo-software/condo-ticket-importer.git
