node_modules
packages/bicrypt/build
dist
out
.next
.idea
.env
.kmigrator
.DS_Store
.docker-cache-warming
.expo
.expo-shared
web-build
coverage
__generated__
__media
_example.js
codegen.yaml

schema.graphql
!apps/condo/schema.graphql
!apps/dev-api/schema.graphql

# yarn + npm
yarn-error.log
npm-debug.*
ignore.*

# yarn berry
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# mobile
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision
*.orig.*
.kmigratorknex.connection.json
.kmigratorknex.schema.json

.vscode
.werf_secret_key
/bin/werf

**/cypress/videos/**
**/cypress/screenshots/**

# Condo UI-kit static
apps/condo/public/ui

# Turborepo local cache
.turbo

# semgrep
semgrep.sarif
semgrep_results/*

#k6 artifacts
**/k6/screenshots**
