node_modules
packages/bicrypt/build
dist
out
.next
.idea
.env
.kmigrator
.DS_Store
.docker-cache-warming
.expo
.expo-shared
web-build
coverage
__generated__
__media
_example.js
codegen.yaml
schema.graphql
# yarn + npm
yarn-error.log
npm-debug.*
ignore.*
storybook-static

# mobile
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.kmigratorknex.connection.json
.kmigratorknex.schema.json

.vscode
.werf_secret_key
/bin/werf

**/cypress/videos/**
**/cypress/screenshots/**
