[submodule "apps/asterix_bot"]
	path = apps/asterix_bot
	url = ../asterix_bot.git
[submodule "apps/callcenter"]
	path = apps/callcenter
	url = ../condo_call_center.git
[submodule "apps/eps"]
	path = apps/eps
	url = ../condo_eps.git
[submodule "infrastructure/helm"]
	path = .helm
	url = ../infrastructure-condo.git
	branch = master
[submodule "apps/condorb"]
	path = apps/condorb
	url = ../condorb.git
[submodule "apps/registry"]
	path = apps/registry
	url = git@github.com:open-condo-software/condo-registry-import-billing.git
[submodule "apps/insurance"]
	path = apps/insurance
	url = git@github.com:open-condo-software/condo_insurance_app.git
[submodule "apps/classifiers-api"]
	path = apps/classifiers-api
	url = git@github.com:open-condo-software/condo-classifiers-api.git
[submodule "apps/property-importer"]
	path = apps/property-importer
	url = git@github.com:open-condo-software/condo-property-importer.git
[submodule "apps/telephony"]
	path = apps/telephony
	url = git@github.com:open-condo-software/condo-telephony.git
[submodule "apps/telephony-integration"]
    path = apps/telephony-integration
    url = git@github.com:open-condo-software/condo-telephony-integration.git
[submodule "apps/pass"]
	path = apps/pass
	url = git@github.com:open-condo-software/condo-pass.git
[submodule "apps/documents-next"]
	path = apps/documents-next
	url = git@github.com:open-condo-software/condo-documents-next.git
[submodule "apps/telegram-employee-bot"]
    path = apps/telegram-employee-bot
    url = git@github.com:open-condo-software/condo-telegram-employee-bot.git
