[submodule "apps/asterix_bot"]
	path = apps/asterix_bot
	url = ../asterix_bot.git
[submodule "apps/callcenter"]
	path = apps/callcenter
	url = ../condo_call_center.git
[submodule "infrastructure/helm"]
	path = .helm
	url = ../infrastructure-condo.git
	branch = master
