<mjml>

  <mj-head>
    <mj-attributes>
      <mj-all padding="0" />
      <mj-all font-family="Open Sans" />
      <mj-wrapper padding-left="25px" padding-right="25px" />
      <mj-text color="#696969" />

      <mj-class name="link" color="#3cbbc9" />
      <mj-class name="black" color="#000000" />
      <mj-class name="bold" font-weight="700" />

      <mj-class name="paragraph" font-size="16px" line-height="25.6px" />
      <mj-class name="title" font-size="24px" line-height="38.4px" font-weight="700" />

      <mj-class name="bg-white" background-color="#ffffff" />
    </mj-attributes>

    <mj-style inline="inline">
      .link {
      	color: #3cbbc9;
      }

      .black {
      	color: #000;
      }

      .header-btn a {
      	padding: 8px 16px !important;
      }
    </mj-style>

    <mj-style>
      @media screen and (max-width: 479px) {
        .header-logo td {
      	  width: 90px !important;
        }

        .header-btn a {
      	  font-size: 14px !important;
        }

        .title {
       		padding-top: 16px !important;
        }

        .title div {
          font-size: 20px !important;
          line-height: 28px !important;
        }

        .paragraph {
      	  padding-top: 16px !important;
        }

        .paragraph div {
          font-size: 14px !important;
          line-height: 22px !important;
        }

        .paragraph.company-name {
      	  padding-top: 0px !important;
        }

        .letter-btn {
        	padding-bottom: 24px !important;
        }

        .footer div {
          font-size: 11px !important;
          line-height: 18px !important;
        }
      }
    </mj-style>
  </mj-head>

  <mj-body background-color="#fafafa">

    <mj-wrapper background-color="transparent" padding="8px"></mj-wrapper>

    <mj-raw>
      <!-- Header -->
    </mj-raw>
    <mj-wrapper mj-class="bg-white" padding-top="20px">
      <mj-section>
        <mj-group>
          <mj-column vertical-align="middle">
            <mj-image width="100px" align="left" src="/assets/img/logo-small.png" href="https://google.com" alt="Company site" css-class="header-logo"></mj-image>
          </mj-column>
          <mj-column vertical-align="middle">
            <mj-button background-color="transparent" color="#000" font-size="20px" border="1px solid" border-radius="8px" align="right" href="https://google.com" css-class="header-btn">
              На сайт
            </mj-button>
          </mj-column>
        </mj-group>
      </mj-section>
    </mj-wrapper>


    <mj-raw>
      <!-- Image -->
    </mj-raw>
    <mj-wrapper mj-class="bg-white" padding-top="20px">
      <mj-section>
        <mj-column>
          <mj-image src="https://ci3.googleusercontent.com/meips/ADKq_Na64oZNskrKxIbQXDrBzpe2dpT_IaOgB_jzj7enIH8jY23pRlQnbreOgE1414kKxgYgZRUCPKBaxPV0FsRiKjSICvyfZAP2FByuHU1tkW1eggpygt0yI9iQxyPY0FxZ7aIx6_6RSxWqPs8k-fXlcdV3Vyy8zodl5bV-m64C8cc8=s0-d-e1-ft#https://image.sendsay.ru/image/x_1690889949280663/%D0%9E%D0%B1%D0%BB%D0%BE%D0%B6%D0%BA%D0%B0%20%287%29.png" alt="cover"></mj-image>
        </mj-column>
      </mj-section>
    </mj-wrapper>


    <mj-raw>
      <!-- Letter -->
    </mj-raw>
    <mj-wrapper mj-class="bg-white" padding-top="5px">
      <mj-section>
        <mj-column>
          <mj-text mj-class="title black" font-size="24px" css-class="title" padding-top="20px">Здравствуйте!</mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text mj-class="paragraph" css-class="paragraph" padding-top="20px">Это письмо — перечень важных событий в жизни ваших домов за <b class="black">{DATE:дд.мм.гг}</b> на основе данных платформы Doma.ai. Рассказываем, что произошло, чтобы вам было проще держать ситуацию под контролем и реагировать на события своевременно.</mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text mj-class="paragraph" css-class="paragraph" padding-top="20px">
            <b class="black">Общее количество заявок в работе: </b>
            <b class="black">{COUNT}</b>
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text mj-class="paragraph" css-class="paragraph" padding-top="20px">
            <b class="black">Открытые аварийные заявки</b>, с момента создания которых прошло более 24 часов:
            <b class="black">{COUNT}</b>
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text mj-class="paragraph" css-class="paragraph" padding-top="20px">
            <b class="black">Возвращенные заявки: </b>
            <b class="black">{COUNT}</b>
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text mj-class="paragraph" css-class="paragraph" padding-top="20px">
            <b class="black">Просроченные заявки: </b>
            <b class="black">{COUNT}</b>
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text mj-class="paragraph" css-class="paragraph" padding-top="20px">
            <b class="black">Заявки, требующие назначения исполнителей и ответственных: </b>
            <b class="black">{COUNT}</b>
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text mj-class="paragraph" css-class="paragraph" padding-top="20px">Перейдите <a href="https://google.com" class="link">на платформу Company.com</a>, чтобы узнать детали по заявкам и воспользоваться другими сервисами.</mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text mj-class="paragraph" css-class="paragraph" padding-top="20px">
            <b class="black">Даты плановых отключений: </b>
            <b class="black">{DATE}</b>
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text mj-class="paragraph" css-class="paragraph" padding-top="20px">
            <b class="black">Даты аварийных отключений: </b>
            <b class="black">{DATE}</b>
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-button background-color="#49d48a" border-radius="8px" font-size="16px" line-height="22px" href="https://google.com" padding-top="20px" padding-bottom="32px" css-class="letter-btn">
            Перейти в диспетчерскую
          </mj-button>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text mj-class="paragraph" css-class="paragraph" padding-top="20px">С заботой о вашем бизнесе, </mj-text>
          <mj-text mj-class="paragraph company-name" css-class="paragraph company-name" padding-top="4px"><a href="https://google.com" class="link">Company</a></mj-text>
        </mj-column>
      </mj-section>

      <mj-section padding="8px"></mj-section>
    </mj-wrapper>


    <mj-raw>
      <!-- Footer -->
    </mj-raw>
    <mj-wrapper background-color="transparent" css-class="footer" padding-top="20px">
      <mj-section>
        <mj-column>
          <mj-text align="center" font-weight="500" line-height="19px">Следите за новостями в социальных сетях Company</mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-social align="center" mode="horizontal" padding-top="8px">
            <mj-social-element href="https://google.com" src="https://ci3.googleusercontent.com/meips/ADKq_NZC2ZZIKy0ndG2IrXv0gJyLpBLlmLV0Tepjz1M0r99GnRzBKA-Ww2nZpSQ76WwIEkQahL_bRov-V8LUjhpWSgMIy-p-7psIZA=s0-d-e1-ft#https://app.sendsay.ru/img/icons/link/vk_color.png" icon-size="32px" padding="4px">
            </mj-social-element>

            <mj-social-element href="https://google.com" src="https://ci3.googleusercontent.com/meips/ADKq_NYOSLm-EXCnwcqmapc48oGohJDuZjK1Guo0TnDPZuWpBtMoDdigqwgXWu00spmt0qMtkPO2yBUuK9yY5zstJW_rga05ckkNMim9GARR=s0-d-e1-ft#https://app.sendsay.ru/img/icons/link/youtube_color.png" icon-size="32px" padding="4px">
            </mj-social-element>

            <mj-social-element href="https://google.com" src="https://ci3.googleusercontent.com/meips/ADKq_NZowp2vrf-lHvhf5Ak9d2rWKw4Hp9fiwLrXua4394OuIn-pQRb1pMoNPiOME7AVSz959IUbgNtgs5WlXPEEh1EZdQmvPYGXYr88AKNZ8g=s0-d-e1-ft#https://app.sendsay.ru/img/icons/link/telegram_color.png" icon-size="32px" padding="4px">
            </mj-social-element>
          </mj-social>
        </mj-column>

      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text align="center" font-weight="500" padding-top="8px" line-height="19px">Остались вопросы? На них ответит <a href="https://google.com" class="link">поддержка</a>.</mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text align="center" padding-top="12px" line-height="19px">Вы получили это письмо, потому что выразили свое согласие получать сообщения от Company.</mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text align="center" padding-top="12px" line-height="19px">Хотите отписаться от рассылки? Нажмите <a href="https://google.com" class="link">сюда</a>.</mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text align="center" padding-top="20px" line-height="19px">© Company 2024</mj-text>
        </mj-column>
      </mj-section>

      <mj-section padding="8px"></mj-section>
    </mj-wrapper>

  </mj-body>

</mjml>