<b>New Ticket №{{ message.meta.data.ticketNumber }}</b>
Organization: {{ message.meta.data.organizationName }}
Details: {{ message.meta.data.details }}
<a href="{{ message.meta.data.url }}">Link to ticket</a>