
.custom-form {
  min-height: 500px;
  margin-left: -10px;
}

.recipient-counter {
  justify-items: end;
}

.recipient-counter > div {
  max-width: 500px;
}

.custom-counter-content {
  justify-content: space-around;
  width: 100%;
}

.custom-counter {
  width: 100%;
}