Mobile OS: {{ message.meta.os }}
App version: {{ message.meta.appVersion }}
Email: {% if message.emailFrom %}{{ message.emailFrom | safe }}{% else %}N/A{% endif %}
Residents info:
{%- if message.meta.residentsExtraInfo.length == 0 -%}
  no
{%- else -%}
 {% for residentInfo in message.meta.residentsExtraInfo %}
    Organization: {% if residentInfo.organization %}{{ residentInfo.organization.name }}. TIN: {{ residentInfo.organization.tin }}{% else %}N/A{% endif %}.
    Address: {% if residentInfo.address %}{{ residentInfo.address | safe }}{% else %}N/A{% endif %}.
    Account numbers:
    {%- if residentInfo.accountNumbers.length == 0 -%}
      no
    {%- else -%}
      {% for accountNumber in residentInfo.accountNumbers %}
        - {{ accountNumber }}.
      {% endfor %}
    {% endif %}

 {% endfor %}
{% endif %}
Message text: {{ message.meta.text | safe }}
