Администратор организации "{{ message.meta.organizationName }}" приглашает вас в качестве сотрудника.
Перейдите по ссылке, чтобы присоединиться: {{ env.serverUrl }}/auth/invite/{{ message.meta.inviteCode }}