.custom-carousel-wrapper :global(.condo-carousel) {
  padding: 0;
  background: none;
  transform: translateX(-12px);
}

.custom-carousel-wrapper :global(.condo-carousel .slick-list) {
  width: calc(100% + 24px);
  margin: -20px 0;
  padding: 20px 0;
}

.custom-carousel-wrapper :global(.condo-carousel .slick-list .slick-track .slick-slide) {
  padding: 0 12px;
}

.custom-carousel-wrapper :global(.condo-carousel .slick-list .slick-track .slick-slide > div) {
  margin: 0;
  overflow: initial;
}

.custom-carousel-wrapper :global(.condo-carousel .slick-prev) {
  left: -8px !important;
}

.custom-carousel-wrapper :global(.condo-carousel .slick-next) {
  right: -32px !important;
}