.condo-carousel {
  padding: 0;
  background: none;
  transform: translateX(-12px);
}

.condo-carousel .slick-list {
  width: calc(100% + 24px);
  margin: 0;
}

.condo-carousel .slick-list .slick-track .slick-slide {
  padding: 0 12px;
}

.address-tab-wrapper > div {
  height: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 11px;
}

.address-tab-content > div {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.condo-carousel .slick-list .slick-track .slick-slide > div {
  margin: 0;
  overflow: initial;
}

.condo-carousel .slick-prev {
  left: -8px !important;
}

.condo-carousel .slick-next {
  right: -32px !important;
}

.condo-space .condo-space-horizontal .condo-space-item:first-child {
  align-self: flex-end;
}

.link-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.address-tab-wrapper {
  height: 165px;
  padding: 1px;
  border: 1px solid #e6e8f1;
  border-radius: 12px;
  transition: all 0.3s;
}

.address-tab-wrapper[data-active="true"] {
  background: linear-gradient(115deg, #4cd174 16%, #6db8f2 84%);
  box-shadow: var(--condo-global-box-shadow-default);
}

.address-tab-wrapper:hover {
  box-shadow: inherit;
  cursor: pointer;
}