{%- if message.meta.data.guestName -%}
{{ message.meta.data.guestName }} will arrive at {{ message.meta.data.openAt }}
{%- else -%}
    {%- if message.meta.data.vehicleBrand -%}
    {{ message.meta.data.vehicleBrand }}, {{ message.meta.data.stateVehicleNumber }} will arrive at {{ message.meta.data.openAt }}
    {%- else -%}
    {{ message.meta.data.stateVehicleNumber }} will arrive at {{ message.meta.data.openAt }}
    {% endif %}
{% endif %}