{%- if message.meta.data.passTicketType == "guest" -%}
<b>New pass ticket for guest №{{ message.meta.data.number }}</b>
Organization: {{ message.meta.data.organizationName }}
Address: {{ message.meta.data.propertyAddress }}
Unit: {{ message.meta.data.unit }}
Client: {{ message.meta.data.client }}
Guest: {{ message.meta.data.guest }}
Visit Date: {{ message.meta.data.openAt }}
Comment: {{ message.meta.data.comment }}
{%- else -%}
<b>New pass ticket for vehicle №{{ message.meta.data.number }}</b>
Organization: {{ message.meta.data.organizationName }}
Address: {{ message.meta.data.propertyAddress }}
Unit: {{ message.meta.data.unit }}
Client: {{ message.meta.data.client }}
Vehicle number: {{ message.meta.data.vehicle }}
Visit Date: {{ message.meta.data.openAt }}
Comment: {{ message.meta.data.comment }}
{% endif %}