¡La cuenta de servicio para este correo electrónico se ha creado correctamente!

URL del servidor: {{ message.meta.data.serverUrl }}
Email: {{ message.meta.data.email }}
Contraseña: {{ message.meta.data.password }}
