Thank you for registering with Doma.ai!

To complete the process, please confirm your email address.
This will allow us to stay in touch and keep you up to date.

Link to confirm your email: {{ message.meta.link }}

{% if message.meta.withMarketingConsent %}
By clicking on the link, you agree to receive marketing emails from Doma

{% endif %}
If you did not register and received this email by mistake, simply ignore it.

With care for your business,
Doma
