@import "antd/lib/tag/style/index.less";
@import (reference) "@open-condo/ui/src/tokens/variables.less";
@import (reference) "@open-condo/ui/src/components/style/mixins/typography";

.condo-tag {
  .condo-typography-h6();

  margin: 0;
  padding: 0.17em 0.83em 0.33em;
  border: none;
  border-radius: @condo-global-border-radius-large;
}