{%- if message.meta.data.lastTry -%}
La cantidad en el recibo es mayor que el límite de pago automático. Detalles - en el archivo adjunto
{%- else -%}
Aumente su límite de pago automático, intentaremos cobrarle nuevamente mañana
{% endif %}