<mjml>

  <mj-head>
    <mj-attributes>
      <mj-all padding="0" />
      <mj-all font-family="Open Sans" />
      <mj-wrapper padding-left="25px" padding-right="25px" />
      <mj-text color="#696969" />

      <mj-class name="link" color="#3cbbc9" />
      <mj-class name="black" color="#000000" />
      <mj-class name="bold" font-weight="700" />

      <mj-class name="paragraph" font-size="16px" line-height="25px" />
      <mj-class name="title" font-size="24px" line-height="38px" font-weight="700" />

      <mj-class name="bg-white" background-color="#ffffff" />
    </mj-attributes>

    <mj-style inline="inline">
      .link {
      	color: #3cbbc9;
      }

      .black {
      	color: #000;
      }

      .header-btn a {
      	padding: 8px 16px !important;
      }
    </mj-style>

    <mj-style>
      @media screen and (max-width: 479px) {
        .header-logo td {
      	  width: 90px !important;
        }

        .header-btn a {
      	  font-size: 14px !important;
        }

        .title {
       		padding-top: 16px !important;
        }

        .title div {
          font-size: 20px !important;
          line-height: 28px !important;
        }

        .paragraph {
      	  padding-top: 16px !important;
        }

        .paragraph div {
          font-size: 14px !important;
          line-height: 22px !important;
        }

        .paragraph.company-name {
      	  padding-top: 0px !important;
        }

        .letter-btn {
        	padding-bottom: 24px !important;
        }

        .footer div {
          font-size: 11px !important;
          line-height: 18px !important;
        }
      }
    </mj-style>
  </mj-head>

  <mj-body background-color="#fafafa">

    <mj-wrapper background-color="transparent" padding="8px"></mj-wrapper>

    <mj-raw>
      <!-- Header -->
    </mj-raw>
    <mj-wrapper mj-class="bg-white" padding-top="20px">
      <mj-section>
        <mj-group>
          <mj-column vertical-align="middle">
            <mj-image width="100px" align="left" src="{{ env.serverUrl }}/messages/companyLogo.png" href="{{ env.serverUrl }}" alt="Logo" css-class="header-logo"></mj-image>
          </mj-column>
          <mj-column vertical-align="middle">
            <mj-button background-color="transparent" color="#000000" font-size="20px" border="1px solid" border-radius="8px" align="right" href="{{ env.serverUrl }}" css-class="header-btn">
              Go to Unitify
            </mj-button>
          </mj-column>
        </mj-group>
      </mj-section>
    </mj-wrapper>


    <mj-raw>
      <!-- Image -->
    </mj-raw>
    <mj-wrapper mj-class="bg-white" padding-top="20px">
      <mj-section>
        <mj-column>
          <mj-image src="{{ env.serverUrl }}/messages/SEND_DAILY_STATISTICS/cover.png" alt="cover"></mj-image>
        </mj-column>
      </mj-section>
    </mj-wrapper>


    <mj-raw>
      <!-- Letter -->
    </mj-raw>
    <mj-wrapper mj-class="bg-white" padding-top="5px">
      <mj-section>
        <mj-column>
          <mj-text mj-class="title black" font-size="24px" css-class="title" padding-top="20px">Hello!</mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text mj-class="paragraph" css-class="paragraph" padding-top="20px">This letter is a list of important events in the life of your properties for <b class="black">{{ message.meta.data.date }}</b> based on Unitify platform data. We tell you what happened to make it easier for you to keep the situation under control and respond to events in a timely manner.</mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text mj-class="paragraph" css-class="paragraph" padding-top="20px">
            <b class="black">Total number of tickets in progress: </b>
            <b class="black">{{ message.meta.data.tickets.inProgress.total }}</b>
            {% if message.meta.data.tickets.inProgress.details %}
              <span>({{ message.meta.data.tickets.inProgress.details }})</span>
            {% endif %}
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text mj-class="paragraph" css-class="paragraph" padding-top="20px">
            <b class="black">Open emergency tickets</b> that were created more than 24 hours ago:
            <b class="black">{{ message.meta.data.tickets.isEmergency.total }}</b>
            {% if message.meta.data.tickets.isEmergency.details %}
              <span>({{ message.meta.data.tickets.isEmergency.details }})</span>
            {% endif %}
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text mj-class="paragraph" css-class="paragraph" padding-top="20px">
            <b class="black">Returned tickets: </b>
            <b class="black">{{ message.meta.data.tickets.isReturned.total }}</b>
            {% if message.meta.data.tickets.isReturned.details %}
              <span>({{ message.meta.data.tickets.isReturned.details }})</span>
            {% endif %}
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text mj-class="paragraph" css-class="paragraph" padding-top="20px">
            <b class="black">Expired tickets: </b>
            <b class="black">{{ message.meta.data.tickets.isExpired.total }}</b>
            {% if message.meta.data.tickets.isExpired.details %}
              <span>({{ message.meta.data.tickets.isExpired.details }})</span>
            {% endif %}
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text mj-class="paragraph" css-class="paragraph" padding-top="20px">
            <b class="black">Tickets requiring the appointment of executors and assignees persons: </b>
            <b class="black">{{ message.meta.data.tickets.withoutEmployee.total }}</b>
            {% if message.meta.data.tickets.withoutEmployee.details %}
              <span>({{ message.meta.data.tickets.withoutEmployee.details }})</span>
            {% endif %}
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text mj-class="paragraph" css-class="paragraph" padding-top="20px">Go to <a href="{{ env.serverUrl }}" class="link">the Unitify platform</a>,to find out details on tickets and use other services.</mj-text>
        </mj-column>
      </mj-section>

      {% if message.meta.data.incidents.water %}
        <mj-section>
          <mj-column>
            <mj-text mj-class="paragraph" css-class="paragraph" padding-top="20px">
              <b class="black">Scheduled water incidents dates: </b>
              <span>{{ message.meta.data.incidents.water }}</span>
            </mj-text>
          </mj-column>
        </mj-section>
      {% endif %}

      <mj-section>
        <mj-column>
          <mj-button background-color="#49d48a" border-radius="8px" font-size="16px" line-height="22px" href="{{ env.serverUrl }}/ticket" padding-top="20px" padding-bottom="32px" css-class="letter-btn">
            Go to the control room
          </mj-button>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text mj-class="paragraph" css-class="paragraph" padding-top="20px">With care for your business, </mj-text>
          {% if env.landingUrl.en %}
            <mj-text mj-class="paragraph company-name" css-class="paragraph company-name" padding-top="4px"><a href="{{ env.landingUrl.en }}" class="link">Domá</a></mj-text>
          {% else %}
            <mj-text mj-class="paragraph company-name" css-class="paragraph company-name" padding-top="4px">Domá</mj-text>
          {% endif %}
        </mj-column>
      </mj-section>

      <mj-section padding="8px"></mj-section>
    </mj-wrapper>


    <mj-raw>
      <!-- Footer -->
    </mj-raw>
    <mj-wrapper background-color="transparent" css-class="footer" padding-top="20px">

      {% if env.socialMediaLinks.en %}
        <mj-section>
          <mj-column>
            <mj-text align="center" font-weight="500" line-height="19px">Follow the news on social networks of the Unitify</mj-text>
          </mj-column>
        </mj-section>

        <mj-section>
          <mj-column>
            <mj-social align="center" mode="horizontal" padding-top="8px">
              {% for name, link in env.socialMediaLinks.en %}
                <mj-social-element href="{{ link }}" src="{{ env.serverUrl }}/socials/{{ name }}.png" icon-size="32px" padding="4px" alt="{{ name }}">
                </mj-social-element>
              {% endfor %}
            </mj-social>
          </mj-column>
        </mj-section>
      {% endif %}

      <mj-section>
        <mj-column>
          <mj-text align="center" font-weight="500" padding-top="8px" line-height="19px">Any questions left? <a href="mailto:{{ env.supportEmail }}" class="link">Support</a> will answer them.</mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text align="center" padding-top="12px" line-height="19px">You are receiving this email because you have consented to receive communications from the Unitify.</mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text align="center" padding-top="12px" line-height="19px">Do you want to unsubscribe from the newsletter? Click <a href="{{ env.serverUrl }}/api/unsubscribe?id={{ message.id }}" class="link">here</a>.</mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text align="center" padding-top="20px" line-height="19px">© Unitify 2024</mj-text>
        </mj-column>
      </mj-section>

      <mj-section padding="8px"></mj-section>
    </mj-wrapper>

  </mj-body>

</mjml>