@import "antd/lib/select/style/index.less";
@import (reference) "@open-condo/ui/src/tokens/variables.less";
@import (reference) "@open-condo/ui/src/components/style/mixins/typography";
@import "./mixins";

@select-border-color: @condo-global-color-gray-5;
@select-padding-left: 12px;
@select-padding-right: 36px;

.condo-select-dropdown .condo-select-item-empty .condo-typography {
  margin-left: 8px;
  color: @condo-global-color-gray-7;
}

.condo-select {
  align-items: center;

  // Display modes
  &-fit-content {
    max-width: 100%;
  }

  &-fill-parent {
    width: 100%;
  }

  &-arrow,
  &-clear {
    position: absolute;
    top: 50%;
    right: @select-padding-left;
    display: flex;
    width: auto;
    height: auto;
    margin: 0;
    color: @condo-global-color-black;
    background-color: transparent;
    transform: translateY(-50%);
  }

  &-clear {
    background-color: @condo-global-color-white;
  }

  &-open &-arrow {
    transform: translateY(-50%) rotate(180deg);
  }

  .condo-select-selection-item {
    color: @condo-global-color-black;
  }

  &.condo-select-single.condo-select-show-arrow .condo-select-selection-item {
    color: @condo-global-color-black;
  }

  .condo-select-selection-placeholder {
    color: @condo-global-color-gray-7;
  }

  &:not(.condo-select-customize-input) .condo-select-selector {
    box-sizing: border-box;
    width: auto;
    height: 48px;
    padding: 0 @select-padding-right 0 @select-padding-left;
    border-radius: @condo-global-border-radius-medium;

    .condo-select-selection-search-input {
      .condo-typography-text-large();

      color: @condo-global-color-black;
    }

    .condo-select-selection-item,
    .condo-select-selection-placeholder {
      .condo-typography-text-large();

      display: inline-flex;
      align-items: center;
      width: calc(100% - @select-padding-right - @select-padding-left);
      padding-right: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &:not(.condo-select-customize-input, .condo-select-multiple) .condo-select-selector {
    .condo-select-selection-search {
      position: absolute;
      left: @select-padding-left;
      display: inline-block;
      width: calc(100% - @select-padding-right - @select-padding-left);
      line-height: 48px;
    }

    .condo-select-selection-search-input {
      position: absolute;
      top: 50%;
      height: 48px;
      line-height: 48px;
      transform: translateY(-50%);
    }

    .condo-select-selection-item {
      display: flex;
      align-items: center;

      .condo-typography {
        .condo-typography-text-large();

        flex: 1;
        overflow: hidden;
        font-weight: normal;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  // Select types
  .condo-select-type("danger", @condo-global-color-red-5);
  .condo-select-type("success", @condo-global-color-green-5);
  .condo-select-type("warning", @condo-global-color-orange-5);
  .condo-select-type("info", @condo-global-color-blue-5);
  .condo-select-type("secondary", @condo-global-color-gray-7);

  &-danger,
  &-warning,
  &-info,
  &-secondary,
  &-success {
    .condo-select-arrow,
    .condo-select-clear {
      color: @condo-global-color-white;
    }
  }

  &-disabled:not(.condo-select-customize-input) &-arrow {
    color: @condo-global-color-gray-3;
  }

  &-danger .condo-select-clear {
    background-color: @condo-global-color-red-5;
  }

  &-warning .condo-select-clear {
    background-color: @condo-global-color-orange-5;
  }

  &-info .condo-select-clear {
    background-color: @condo-global-color-blue-5;
  }

  &-secondary .condo-select-clear {
    background-color: @condo-global-color-gray-7;
  }

  &-success .condo-select-clear {
    background-color: @condo-global-color-green-5;
  }

  &-danger:not(.condo-select-customize-input),
  &-warning:not(.condo-select-customize-input),
  &-info:not(.condo-select-customize-input),
  &-secondary:not(.condo-select-customize-input),
  &-success:not(.condo-select-customize-input) {
    .condo-select-selector {
      .condo-select-selection-placeholder,
      .condo-select-selection-search-input,
      .condo-select-selection-item,
      .condo-select-selection-item > * {
        color: @condo-global-color-white;
      }
    }
  }

  &.condo-select-multiple:not(.condo-select-customize-input) .condo-select-selector {
    height: inherit;
    min-height: 48px;
    padding-top: calc(4px - 1px);
    padding-bottom: calc(4px - 1px);

    .condo-select-selection-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: inherit;
      height: 32px;
      margin: 4px 8px 4px 0;
      padding: 0 8px;
      background-color: @condo-global-color-gray-1;
      border: none;
      border-radius: @condo-global-border-radius-small;

      .condo-select-selection-item-content {
        display: inline-flex;
      }

      .condo-select-selection-item-remove {
        display: flex;
        align-items: center;
        color: @condo-global-color-black;
      }

      .condo-typography {
        .condo-typography-text-medium();

        overflow: hidden;
        color: @condo-global-color-black;
        white-space: pre;
        text-overflow: ellipsis;
      }
    }

    .condo-select-selection-overflow-item-suffix {
      display: flex;
      align-items: center;
      height: 40px;
    }

    .condo-select-selection-placeholder {
      left: 12px;
      display: inline-block;
    }

    .condo-select-selection-search-mirror {
      .condo-typography-text-large();
    }
  }

  // Hover
  &:hover {
    .condo-select-clear {
      opacity: 1;
    }
  }

  &:not(.condo-select-disabled):hover .condo-select-selector {
    border-color: @condo-global-color-gray-7;
  }
}

// Disabled state
.condo-select-disabled.condo-select:not(.condo-select-customize-input),
.condo-select-disabled.condo-select.condo-select-multiple:not(.condo-select-customize-input) {
  .condo-select-selector {
    background: @condo-global-color-white;
    opacity: @condo-global-opacity-disabled;
  }
}
.condo-select-type-disabled("danger", @condo-global-color-red-5);
.condo-select-type-disabled("success", @condo-global-color-green-5);
.condo-select-type-disabled("warning", @condo-global-color-orange-5);
.condo-select-type-disabled("info", @condo-global-color-blue-5);
.condo-select-type-disabled("secondary", @condo-global-color-gray-7);

// Focused
.condo-select-focused.condo-select {
  &:not(.condo-select-disabled) {
    &:not(.condo-select-customize-input) {
      .condo-select-selector {
        border-color: @condo-global-color-black;
        box-shadow: none;
      }
    }
  }
}

.condo-select-focused.condo-select-success,
.condo-select-focused.condo-select-warning,
.condo-select-focused.condo-select-info,
.condo-select-focused.condo-select-danger,
.condo-select-focused.condo-select-secondary {
  &:not(.condo-select-disabled) {
    &:not(.condo-select-customize-input) {
      .condo-select-selector {
        border-color: transparent;
        box-shadow: none;
      }
    }
  }
}

// Items and groups
.condo-select-dropdown {
  border-radius: @condo-global-border-radius-medium;
  box-shadow: @condo-global-box-shadow-default;

  .condo-select-item-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: @condo-global-color-gray-7;
  }

  .condo-select-item-option-state {
    display: flex;
    align-items: center;
  }

  .condo-select-item {
    min-height: @condo-global-line-height-text-m;
    line-height: @condo-global-line-height-text-s;
  }

  .condo-select-item-hidden {
    display: none;
  }

  .condo-select-item-option-selected:not(.condo-select-item-option-disabled) {
    background-color: @condo-global-color-green-1;

    .condo-select-item-option-state {
      color: @condo-global-color-green-5;
    }
  }

  .condo-select-item-option-active:not(.condo-select-item-option-disabled) {
    background-color: @condo-global-color-gray-1;
  }

  .condo-select-item.condo-select-item-group {
    color: @condo-global-color-gray-7;
    .condo-typography-text-small();
  }

  .condo-select-item-option-content {
    .condo-typography-text-medium();
  }
}
