.create-organization-content-wrapper {
  max-width: 350px;
}

.initial-organization-invite .condo-space-item {
  width: 100%;
}

.initial-organization-invite-buttons {
  width: 100%;
}

.initial-organization-invite-buttons .condo-btn {
  width: 100%;
}