.initial-organization-invite {
  max-width: 362px;
}

.initial-organization-invite .condo-space-item {
  width: 100%;
}

.initial-organization-invite-buttons {
  width: 100%;
}

.initial-organization-invite-buttons .condo-btn {
  width: 100%;
}