System: {{ message.meta.os }}
Platform: {% if message.meta.platform %}{{ message.meta.platform | safe }}{% else %}N/A{% endif %}
App name: {% if message.meta.app %}{{ message.meta.app | safe }}{% else %}N/A{% endif %}
App version: {{ message.meta.appVersion }}
User agent: {% if message.meta.userAgent %}{{ message.meta.userAgent | safe }}{% else %}N/A{% endif %}
Email: {% if message.emailFrom %}{{ message.emailFrom | safe }}{% else %}N/A{% endif %}
Resident info:
{%- if message.meta.residentsExtraInfo.length == 0 -%}
  no
{%- else -%}
 {% for residentInfo in message.meta.residentsExtraInfo %}
    Organization: {% if residentInfo.organization %}{{ residentInfo.organization.name }}. TIN: {{ residentInfo.organization.tin }}{% else %}N/A{% endif %}.
    Address: {% if residentInfo.address %}{{ residentInfo.address | safe }}{% else %}N/A{% endif %}.
    Unit: {% if residentInfo.unitName %}{{ residentInfo.unitName | safe }}{% else %}N/A{% endif %}.
    Account numbers:
        {%- if residentInfo.serviceConsumers.length == 0 -%}
          no
        {%- else -%}
          {% for serviceConsumer in residentInfo.serviceConsumers %}
            Number: {% if serviceConsumer.accountNumber %}{{ serviceConsumer.accountNumber | safe }}{% else %}N/A{% endif %}.
            Organization: {% if serviceConsumer.organizationName %}{{ serviceConsumer.organizationName | safe }}{% else %}N/A{% endif %}.

          {% endfor %}
        {% endif %}

 {% endfor %}
{% endif %}
Message text: {{ message.meta.text | safe }}
