.page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  column-gap: 40px;
}

.table-of-contents-column {
  position: sticky;
  top: 112px;
  flex: 0 0 308px;
  align-self: flex-start;
}

@media screen and (max-width: 1250px) {
  .table-of-contents-column {
    display: none;
  }
}

.sider {
  position: sticky !important;
  top: 72px;
  height: calc(100vh - 72px);
  padding: 40px 20px 0;
  overflow-y: scroll;
}

.content {
  min-height: calc(100vh - 72px);
  padding: 40px 48px 0 20px;
  background: var(--condo-global-color-white)
}

.menu {
  padding-bottom: 28px !important;
}

.article-column {
  width: 100%;
  padding-bottom: 60px;
}

.align-right {
  flex-direction: row-reverse;
}

.bottom-nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
}

.bottom-nav-link {
  display: flex;
  flex: 0 0 calc(50% - 20px);
}
