.page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  column-gap: 40px;
}

.table-of-contents-column {
  flex: 0 0 308px;
  width: 308px;
  height: 50px;
  background: mediumpurple;
}

.article-column {
  width: 100%;
}