{%- if message.meta.data.lastTry -%}
Contact our technical support. We will help you fix the problem
{%- else -%}
Contact our support team, we will help you fix the problem. The next debit attempt will be tomorrow
{% endif %}