{%- if message.meta.data.lastTry -%}
Обратитесь в техподдержку. Мы поможем разобраться, в чем дело
{%- else -%}
Обратитесь в техподдержку, мы поможем разобраться, в чем дело. Завтра попробуем списать деньги еще раз
{% endif %}