<b>Новая заявка №{{ message.meta.data.ticketNumber }}</b>
УК: {{ message.meta.data.organizationName }}
Описание: {{ message.meta.data.details }}
<a href="{{ message.meta.data.url }}">Ссылка на заявку</a>