<b>Новая заявка №{{ message.meta.data.ticketNumber }}</b>
Организация: {{ message.meta.data.organizationName }}
Дата создания: {{ message.meta.data.ticketCreatedAt }}
Статус: {{ message.meta.data.ticketStatus }}
Адрес: {{ message.meta.data.ticketAddress }}
Помещение: {{ message.meta.data.ticketUnit }}
Описание: {{ message.meta.data.ticketDetails }}