<b>Новый комментарий в заявке №{{ message.meta.data.ticketNumber }}</b>
УК: {{ message.meta.data.organizationName }}
Автор: {{ message.meta.data.userName }}
Текст комментария: {{ message.meta.data.content }}
<a href="{{ message.meta.data.url }}">Ссылка на заявку</a>