<b>Новый комментарий в заявке №{{ message.meta.data.ticketNumber }}</b>
Организация: {{ message.meta.data.organizationName }}
Дата создания: {{ message.meta.data.commentCreatedAt }}
Статус: {{ message.meta.data.ticketStatus }}
Адрес: {{ message.meta.data.ticketAddress }}
Помещение: {{ message.meta.data.ticketUnit }}
Текст комментария: {{ message.meta.data.commentContent }}
<a href="{{ message.meta.data.url }}">Ссылка на заявку</a>