.blocked-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 40px;
  border: 1px solid var(--condo-global-color-gray-3);
  border-radius: 8px;
}

.blocked-content-wrapper {
  width: 100%;
  max-width: 400px;
  text-align: center;
}
