.image {
  height: 160px;
}

.texts-container {
  width: 100%;
  max-width: 400px;
  margin-top: 16px;
}

.actions-container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: 24px;
}