.title-col {
  padding: 0 8px 8px;
}

.recent-app-card {
  display: grid !important;
  grid-template-columns: 60px 1fr;
  align-items: center;
  padding: 8px;
  overflow: hidden;
  column-gap: 16px;
  border-radius: var(--condo-global-border-radius-medium);
  cursor: pointer;
  transition: background-color var(--condo-global-transition-duration-default) ease-in-out;
}

.recent-app-card:hover {
  background: var(--condo-global-color-gray-1);
}

.app-logo-container {
  position: relative;
  width: 60px;
  height: 60px;
  padding: 8px;
  background: var(--condo-global-color-gray-3);
  border-radius: var(--condo-global-border-radius-medium);
}

.app-logo {
  object-fit: contain;
}