.root {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  min-height: 32px;
}

.icon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 24px;
}

.file-name-row {
  display: flex;
  flex: 1;
  gap: 0;
  align-items: center;
  min-width: 0;
}

.base-name {
  flex: 0 1 auto;
  min-width: 0;
  color: var(--condo-global-color-black);
}

.extension {
  flex-shrink: 0;
}

.remove-button {
  flex-shrink: 0;
  margin-left: 4px;
}
