{%- if message.meta.data.lastTry -%}
На сегодня нет новых квитанций к оплате. Вы можете изменить настройки автоплатежа в приложении
{%- else -%}
На сегодня нет новых квитанций к оплате. Завтра попробуем еще раз
{% endif %}