.banner-wrapper :global(.condo-promo-block) {
  position: relative;
}

.banner-wrapper :global(.condo-promo-block-image-container) {
  position: absolute;
  right: 50px;
  bottom: 0;
  width: auto;
  height: auto;
}

.banner-wrapper :global(.condo-promo-block-image-container > img) {
  width: 365px;
  height: auto;
}

.banner-wrapper :global(.condo-promo-block-text-container > .condo-typography-ellipsis-multiple-line:last-child) {
  -webkit-line-clamp: 3 !important;
}
