.menu-item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 0;
  color: var(--condo-global-color-gray-7);
  vertical-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.menu-item-wrapper:hover,
.menu-item-wrapper.active {
  color: var(--condo-global-color-black);
}

.condo-typography,
.icon {
  transition: var(--condo-global-transition-duration-default);
}

.condo-typography {
  width: max-content;
}

.disabled {
  opacity: 0.4;
}

.justify-center {
  justify-content: center;
}
