.condo-radio-gradient-border(@inner-color, @border-color) {
  border: double 1px transparent;
  background-image: @inner-color, @border-color;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: none;
}
