<html style="fmargin: 0; font-family: Roboto, Arial, 'Nimbus Sans L', Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 32px; text-align: left;">
<body style="margin: 0; font-family: Roboto, Arial, 'Nimbus Sans L', Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 32px; text-align: left;">
<p style="font-family: Roboto, Arial, 'Nimbus Sans L', Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 32px; text-align: left;">
    ¡Buenos días!<br>
    Enviamos recibos de servicios públicos.<br>
    <br>
    Para pagar y recibir recibos, utilice la aplicación móvil Doma donde puede ver y descargar el recibo completo.<br>
    <br>
    Instale la aplicación:<br>
</p>
<ul style="font-family: Roboto, Arial, 'Nimbus Sans L', Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 32px; text-align: left;">
    <li> En Google Play/App Store, en la barra de búsqueda, ingrese el nombre Doma en letras latinas </li>
    <li> Escanee el código QR en el recibo o siga el <a href="https://clck.ru/376TNL">enlace</a></li>
</ul>
<p style="font-family: Roboto, Arial, 'Nimbus Sans L', Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 32px; text-align: left;">
    Agregue su número de cuenta personal en la aplicación. En la sección "Pagos", seleccione un recibo - "Leer más" - "Abrir recibo completo" Icono de descarga está en la esquina superior derecha.
</p>
<br>
<br>
Si no desea recibir correos electrónicos con recibos, siga el enlace <a
        href="{{ env.serverUrl }}/api/unsubscribe?id={{ message.id }}">cancelar suscripción</a>
</body>
</html>