.menu-wrapper > ul {
  width: max-content;
  padding: 0;
}

.menu-wrapper > ul > li {
  position: relative;
  padding: 4px 16px !important;
  border-bottom: 1px solid var(--condo-global-color-gray-3);
}

.menu-wrapper > ul > li:last-child {
  border-bottom: none;
}

.menu-wrapper > ul > li:hover {
  background: transparent;
}

.condo-dropdown-menu-title-content > a::after {
  display: none !important;
}

.menu-wrapper a::after {
  display: none;
}

.accent-button {
  cursor: default !important;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.accent-button > span:last-child {
  opacity: 0;
  animation: fade-in var(--condo-global-transition-duration-default) ease-in forwards;
  animation-delay: var(--condo-global-transition-duration-default);
}