<b>Nuevo comentario en la solicitud №{{ message.meta.data.passTicketNumber }}</b>
Organización: {{ message.meta.data.organizationName }}
Fecha de creación: {{ message.meta.data.commentCreatedAt }}
Estado: {{ message.meta.data.passTicketStatus }}
Dirección: {{ message.meta.data.passTicketAddress }}
Texto de comentario: {{ message.meta.data.comment }}
