Ahora mismo en {{ env.serverUrl }} nuestro cliente ha dejado una solicitud para abrir una cuenta en Verde para una comunidad.
La dirección: {{ message.meta.propertyAddress }}

El cliente: {{ message.meta.name }}
NIF: {{ message.meta.tin }}
Solicitante: {{ message.meta.bankAccountClient.name }}
Número de teléfono: {{ message.meta.bankAccountClient.phone }}
Email: {{ message.meta.bankAccountClient.email }}

Contacte con el cliente, está esperando 🤗
