Billing receipt for a {{month}} {{year}} period available in attachments.
If you do not want to receive emails with receipts, please click <a href="https://v1.doma.ai/unsubscribe?id={{id}}" target="_blank">unsubscribe</a>