{%- if message.meta.data.lastTry -%}
No hay nuevos recibos de pago hoy. Puede cambiar la configuración de pago automático en la aplicación
{%- else -%}
No hay nuevos recibos de pago hoy. Lo intentaremos de nuevo mañana
{% endif %}