.app-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  width: 100px;
  height: 118px;
  padding: 20px 12px;
  color: #82879f;
  background: var(--condo-global-color-gray-1);
  border-radius: 12px;
}

.app-card :global(.condo-typography) {
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}

.app-card-image {
  object-fit: contain;
}