{%- if message.meta.data.lastTry -%}
Póngase en contacto con el soporte técnico. Le ayudaremos a entender qué está mal
{%- else -%}
Póngase en contacto con el soporte técnico, le ayudaremos a descubrir qué está mal. Mañana intentaremos cobrarle otra vez
{% endif %}