.ant-anchor-link-title-active > .condo-typography {
  color: var(--condo-global-color-black);
  transition: color 0.3s ease-in-out;
}

.ant-anchor-link {
  padding: 6px 0 6px 24px !important;
}

.ant-anchor-ink-ball {
  width: 3px !important;
  background-color: var(--condo-global-color-black) !important;
}

.ant-anchor-ink::before {
  display: none !important;
}

.condo-markdown div[role="tabpanel"] > pre {
  margin-top: 0;
}

.main-layout {
  display: grid;
  grid-gap: 40px;
  max-width: 1600px;
  margin: 72px auto auto;
  padding: 40px 32px 60px;
}

.main-layout-lg {
  grid-template-columns: 300px 1fr 300px;
}

.main-layout-md {
  grid-template-columns: 300px 1fr;
}

.main-layout-sm {
  grid-template-columns: 1fr;
  margin-top: calc(72px + 48px);
  padding: 0 0 60px;
}

.menu-container,
.anchor-column {
  height: min-content;
  max-height: calc(100vh - 72px - 40px - 28px);
  overflow-y: scroll;
}

.main-layout-sm .main-content {
  width: 100vw;
  padding: 0 32px;
}

.main-layout:not(.main-layout-sm) .menu-container,
.main-layout:not(.main-layout-sm) .anchor-column {
  position: sticky;
  top: calc(72px + 40px);
}
