<b>Nueva solicitud №{{ message.meta.data.ticketNumber }}</b>
Organización: {{ message.meta.data.organizationName }}
Fecha de creación: {{ message.meta.data.ticketCreatedAt }}
Estado: {{ message.meta.data.ticketStatus }}
Dirección: {{ message.meta.data.ticketAddress }}
Proiedad: {{ message.meta.data.ticketUnit }}
Clasificador: {{ message.meta.data.ticketClassifier }}
Problema: {{ message.meta.data.ticketDetails }}