DATABASE_URL=postgresql://postgres:postgres@127.0.0.1/dev-api
NODE_ENV=development
COOKIE_SECRET=dev-api
SERVER_URL=http://localhost:4006
SMS_WHITE_LIST='{"+79990001234": "1234"}'
SMS_PROVIDER=fake
CONDO_DEV_BOT_CONFIG='{"apiUrl": "http://localhost:4004", "email": "dev-api-bot@example.com", "password": "your-secret-pass" }'
CONDO_PROD_BOT_CONFIG='{"apiUrl": "http://localhost:4004", "email": "dev-api-bot@example.com", "password": "your-secret-pass" }'
TESTS_FAKE_CLIENT_MODE=true