@import "antd/lib/input/style/index.less";
@import "antd/lib/select/style/index.less";
@import (reference) "@open-condo/ui/src/tokens/variables.less";
@import (reference) "@open-condo/ui/src/components/style/mixins/typography";

.condo-phone-input-wrapper {
  color: @condo-global-color-black;
  .condo-typography-text-large();

  .condo-input,
  .condo-input-group-addon {
    box-sizing: border-box;
    height: @condo-global-typography-text-l-line-height + 2 * @condo-global-spacing-12;
    border: @condo-global-border-width-default solid @condo-global-color-gray-5;
  }

  .condo-input {
    border-bottom-right-radius: @condo-global-border-radius-medium;
    border-top-right-radius: @condo-global-border-radius-medium;
  }

  .condo-input-group-addon {
    border-bottom-left-radius: @condo-global-border-radius-medium;
    border-top-left-radius: @condo-global-border-radius-medium;
    border-right: none;

    .condo-select-selector {
      padding: 0 @condo-global-spacing-16 !important;
    }
  }

  .condo-select {
    .condo-select-selector {
      height: inherit;
      min-height: 48px;
      padding-top: calc(4px - 1px);
      padding-bottom: calc(4px - 1px);
    }
  }
}
