<b>Новый комментарий в пропуске №{{ message.meta.data.passTicketNumber }}</b>
Организация: {{ message.meta.data.organizationName }}
Дата создания: {{ message.meta.data.commentCreatedAt }}
Статус: {{ message.meta.data.passTicketStatus }}
Адрес: {{ message.meta.data.passTicketAddress }}
Текст комментария: {{ message.meta.data.comment }}
