.condo-btn.condo-btn-default.condo-btn-secondary.ai-flow-button {
  height: 38px;
  padding: 8px;
  border-color: var(--condo-global-color-green-5);
  border-radius: 38px;
}

.condo-btn.condo-btn-default.condo-btn-secondary.ai-flow-button span {
  color: var(--condo-global-color-green-5);
  font-weight: 600;
  font-size: 14px;
}

.condo-btn.condo-btn-default.condo-btn-secondary.ai-flow-button:focus,
.condo-btn.condo-btn-default.condo-btn-secondary.ai-flow-button:active {
  outline: none;
  box-shadow: none;
}

.condo-btn.condo-btn-default.condo-btn-secondary.ai-flow-button:focus-visible {
  outline: 2px solid var(--condo-global-color-green-5);
  outline-offset: 2px;
}

button.condo-btn.condo-btn-default.condo-btn-loading.condo-btn-secondary.ai-flow-button .condo-btn-loading-icon {
  width: 16px;
}
