.notification {
  width: 100%;
  background-color: white;
}

.notification > div {
  width: 100%;
}

.wrapper {
  display: inline-block;
  width: 100%;
  height: fit-content;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.status {
  display: flex;
  gap: 12px;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}