{%- if message.meta.data.passTicketType == "guest" -%}
<b>Nuevo pase para invitado №{{ message.meta.data.number }}</b>
Organización: {{ message.meta.data.organizationName }}
Dirección: {{ message.meta.data.propertyAddress }}
Unidad: {{ message.meta.data.unit }}
Solicitante: {{ message.meta.data.client }}
Invitado: {{ message.meta.data.guest }}
Fecha de visita: {{ message.meta.data.openAt }}
Comentario: {{ message.meta.data.comment }}
{%- else -%}
<b>Nuevo pase para vehículo №{{ message.meta.data.number }}</b>
Organización: {{ message.meta.data.organizationName }}
Dirección: {{ message.meta.data.propertyAddress }}
Unidad: {{ message.meta.data.unit }}
Solicitante: {{ message.meta.data.client }}
Matrícula: {{ message.meta.data.vehicle }}
Fecha de visita: {{ message.meta.data.openAt }}
Comentario: {{ message.meta.data.comment }}
{% endif %}