Благодарим за регистрацию на платформе Doma.ai!

Чтобы завершить процесс, пожалуйста, подтвердите ваш email-адрес.
Это позволит нам быть на связи и держать вас в курсе последних обновлений.

Ссылка для подтверждения почты: {{ message.meta.link }}

{% if message.meta.withMarketingConsent %}
Нажимая на ссылку, вы подтверждаете согласие на получение рекламной рассылки от Домов

{% endif %}
Если вы не регистрировались и получили это письмо по ошибке, просто проигнорируйте его.

С заботой о вашем бизнесе,
Домá
