Система: {{ message.meta.os }}
Платформа: {% if message.meta.platform %}{{ message.meta.platform | safe }}{% else %}не указана{% endif %}
Название приложения: {% if message.meta.app %}{{ message.meta.app | safe }}{% else %}не указано{% endif %}
Версия приложения: {{ message.meta.appVersion }}
User agent: {% if message.meta.userAgent %}{{ message.meta.userAgent | safe }}{% else %}не указана{% endif %}
Email: {% if message.emailFrom %}{{ message.emailFrom | safe }}{% else %}не указан{% endif %}
Информация о жителе:
{%- if message.meta.residentsExtraInfo.length == 0 -%}
  нет
{%- else -%}
 {% for residentInfo in message.meta.residentsExtraInfo %}
     УК: {% if residentInfo.organization %}{{ residentInfo.organization.name }}. ИНН: {{ residentInfo.organization.tin }}{% else %}не указан{% endif %}.
     Адрес: {% if residentInfo.address %}{{ residentInfo.address | safe }}{% else %}не указан{% endif %}.
     Помещение: {% if residentInfo.unitName %}{{ residentInfo.unitName | safe }}{% else %}не указано{% endif %}.
     Лицевые счета:
         {%- if residentInfo.serviceConsumers.length == 0 -%}
           нет
         {%- else -%}
           {% for serviceConsumer in residentInfo.serviceConsumers %}
             Счёт: {% if serviceConsumer.accountNumber %}{{ serviceConsumer.accountNumber | safe }}{% else %}не указан{% endif %}.
             Организация: {% if serviceConsumer.organizationName %}{{ serviceConsumer.organizationName | safe }}{% else %}не указан{% endif %}.

           {% endfor %}
         {% endif %}

 {% endfor %}
{% endif %}
Сообщение: {{ message.meta.text | safe }}
