Система: {{ message.meta.os }}
Версия приложения: {{ message.meta.appVersion }}
Email: {% if message.emailFrom %}{{ message.emailFrom | safe }}{% else %}не указан{% endif %}
Сообщение: {{ message.meta.text | safe }}
УК:
{%- if message.meta.organizationsData.length == 0 -%}
  нет
{%- else -%}
  {% for org in message.meta.organizationsData %}
    - {{org.name}}. ИНН: {{org.inn}}
  {% endfor %}
{% endif %}
