@import (reference) "@open-condo/ui/src/tokens/variables.less";
@import "@open-condo/ui/src/components/style/core/motion";

// Main font

/* wix-madefor-display-regular - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap;
  font-weight: 400;
  font-family: "Wix Madefor Display";
  font-style: normal;
  src: url("/public/fonts/wix-madefor-display/wix-madefor-display-v11-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* wix-madefor-display-600 - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap;
  font-weight: 600;
  font-family: "Wix Madefor Display";
  font-style: normal;
  src: url("/public/fonts/wix-madefor-display/wix-madefor-display-v11-cyrillic_cyrillic-ext_latin_latin-ext-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* wix-madefor-display-700 - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap;
  font-weight: 700;
  font-family: "Wix Madefor Display";
  font-style: normal;
  src: url("/public/fonts/wix-madefor-display/wix-madefor-display-v11-cyrillic_cyrillic-ext_latin_latin-ext-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

// Monospace font is used for code blocks

/* noto-sans-mono-regular - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap;
  font-weight: 400;
  font-family: "Noto Sans Mono";
  font-style: normal;
  src: url("/public/fonts/noto-sans-mono/noto-sans-mono-v32-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@text-color: @condo-global-color-black;
@heading-color: @condo-global-color-black;

:root {
  --condo-font-fallback: sans-serif;
  --condo-font-fallback-mono: consolas, monaco, "Andale Mono", "Ubuntu Mono", monospace;
}