on:
  workflow_call:
    inputs:
      domain_name:
        required: true
        type: string
      image_name:
        required: true
        type: string
      runs-on:
        required: false
        type: string
        default: ubuntu-latest

jobs:
  tests:
    name: ${{ inputs.domain_name }}
    runs-on: ${{ inputs.runs-on }}

    steps:
      - name: login to sbercloud registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.DOCKER_REGISTRY }}
          username: ${{ secrets.SBERCLOUD_CR_USERNAME }}
          password: ${{ secrets.SBERCLOUD_CR_PASSWORD }}

      - name: run postgresql for tests
        run: |
          docker run -e POSTGRES_USER=$POSTGRES_USER -e POSTGRES_PASSWORD=$POSTGRES_PASSWORD -e POSTGRES_DB=$POSTGRES_DB -p="127.0.0.1:5432:5432" -d ${{ secrets.DOCKER_REGISTRY }}/doma/utils/postgres:13.2
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: main

      - name: run redis for tests
        run: |
          docker run -p="127.0.0.1:6379:6379" -d ${{ secrets.DOCKER_REGISTRY }}/doma/utils/redis:6.2

      - name: run tests
        run: |
          mkdir test_logs
          chmod -R a+rw ./test_logs
          docker run -e SERVER_URL=$SERVER_URL -e COOKIE_SECRET=$COOKIE_SECRET -e REDIS_URL=$REDIS_URL -e DATABASE_URL=$DATABASE_URL -e NODE_ENV=$NODE_ENV -e DISABLE_LOGGING=$DISABLE_LOGGING -e JEST_MOCKS_ENABLED=$JEST_MOCKS_ENABLED -v ./test_logs:/app/test_logs --network="host" ${{ inputs.image_name }} bash -c "/app/run_condo_domain_tests.sh -d ${{ inputs.domain_name }}"

      - name: Collect docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v1
        with:
         dest: './docker-logs'

      - name: Upload log artifact
        uses: actions/upload-artifact@v4
        if: failure()
        with:
         name: logs
         path: |
           ./test_logs/*
           *.log
           ./docker-logs
         retention-days: 2
