name: RUN DEV-API TESTS

on:
  push:
    branches: [ master ]
    paths:
      - 'apps/dev-api/**'
      - 'apps/condo/domains/miniapp/**'
  pull_request:
    paths:
      - 'apps/dev-api/**'
      - 'apps/condo/domains/miniapp/**'

jobs:
  dev-api-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 16.x ]
        database: [ "postgresql://postgres:postgres@127.0.0.1/main" ]

    steps:
      - name: Checkout code with submodules
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: recursive
          ssh-key: ${{ secrets.SSH_DOCK_SERVER_PRIVATE_KEY }}

      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install dependencies
        run: |
          npm i -g turbo
          yarn install --immutable
          pip3 install django
          pip3 install psycopg2-binary

      - name: Setup docker-compose databases
        run: |
          docker-compose up -d postgresdb redis

      - name: Prepare .env
        run: |
          cp apps/dev-api/.env.example apps/dev-api/.env

      - name: Build dependent apps
        run: |
          turbo build --filter=dev-api^...

      - name: Prepare app
        run: |
          [[ $DATABASE_URL == postgresql* ]] && yarn workspace @app/dev-api migrate
          yarn workspace @app/dev-api node bin/prepare.js

      - name: Run tests with ${{ matrix.database }}
        run: |
          set -x
          export NODE_ENV=test
          
          node -e 'console.log(v8.getHeapStatistics().heap_size_limit/(1024*1024))'
          
          yarn workspace @app/dev-api dev 2>&1 > dev-api.dev.log &
          bash ./.github/workflows/waitForLocalhostApiReady.sh
          
          yarn workspace @app/dev-api test --workerIdleMemoryLimit="50%" --testTimeout=15000 --runInBand --forceExit --silent=false --verbose --bail 2 > &1 > dev-api.tests.log
