name: Deploy to Review

on:
  workflow_dispatch:
    branches:
      - '/^review-.*$/'
jobs:
  converge:
    name: "Deploy to review"
    runs-on: self-hosted
    env:
      WERF_SECRET_KEY: ${{ secrets.WERF_SECRET_KEY }}s
    steps:
      - name: Title
        run: echo "Refactored Workflow"
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: recursive
          token: ${{ secrets.PULL_PERSONAL_ACCESS_KEY }}
      - name: Set env for namespace
        run: echo "REVIEW_NAMESPACE=$(echo review-${GITHUB_REF##*/} | sed 's/\_/-/g')" >> $GITHUB_ENV
      - name: Set env url prefix
        run: echo "REVIEW_URL_PREFIX=$(echo ${GITHUB_REF##*/} | sed 's/\_/-/g' | cut -c -30)" >> $GITHUB_ENV
      - name: Converge
        uses: werf/actions/converge@v1.2
        with:
          channel: beta
          env: review
          kube-config-base64-data: ${{ secrets.KUBE_CONFIG_BASE64_DATA }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          WERF_SET_CI_CONDO_URL: "global.ci_condo_url=review-${{ env.REVIEW_URL_PREFIX }}-condo.d.doma.ai"
          WERF_SET_CI_CALLCENTER_URL: "global.ci_callcenter_url=review-${{ env.REVIEW_URL_PREFIX }}-callcenter.d.doma.ai"
          WERF_SET_CI_EPS_URL: "global.ci_eps_url=review-${{ env.REVIEW_URL_PREFIX }}-eps.d.doma.ai"
          WERF_SET_CI_RB_URL: "global.ci_rb_url=review-${{ env.REVIEW_URL_PREFIX }}-rb.d.doma.ai"
          WERF_NAMESPACE: ${{ env.REVIEW_NAMESPACE}}
          WERF_VIRTUAL_MERGE_FROM_COMMIT: "true"
          WERF_SET_CI_REF: "ci.werf.io/ref=${GITHUB_REF_NAME}"
