name: "[development] Deploy"

concurrency: deploy_develop.yaml

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'

jobs:
  converge:
    name: "[development] Deploy"
    runs-on: self-hosted
    env:
      WERF_SECRET_KEY: ${{ secrets.WERF_SECRET_KEY }}
      PULL_USER: ${{ secrets.PULL_USER }}
      PULL_PERSONAL_ACCESS_KEY: ${{ secrets.PULL_PERSONAL_ACCESS_KEY }}
    steps:
      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.DOCKER_REGISTRY }}
          username: ${{ secrets.SBERCLOUD_CR_USERNAME }}
          password: ${{ secrets.SBERCLOUD_CR_PASSWORD }}
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
          ssh-key: ${{ secrets.SSH_DOCK_SERVER_PRIVATE_KEY }}
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_DOCK_SERVER_PRIVATE_KEY }}
          name: id_rsa
          known_hosts: ${{ secrets.SSH_DOCK_SERVER_KNOWN_HOSTS }}
          if_key_exists: replace
      - name: Set env for branch name
        run: echo "BRANCH_NAME=$(echo ${GITHUB_REF##*/} | sed 's/\_/-/g')" >> $GITHUB_ENV
      - name: Converge
        uses: werf/actions/converge@v1.2
        with:
          channel: beta
          env: development
          kube-config-base64-data: ${{ secrets.KUBECONFIG_BASE64_DEVELOPMENT_CLUSTER }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          WERF_SET_CI_CONDO_URL: "global.ci_condo_url=condo.d.doma.ai"
          WERF_SET_CI_CALLCENTER_URL: "global.ci_callcenter_url=callcenter.d.doma.ai"
          WERF_SET_CI_EPS_URL: "global.ci_eps_url=eps.d.doma.ai"
          WERF_SET_CI_RB_URL: "global.ci_rb_url=rb.d.doma.ai"
          WERF_SET_CI_INSURANCE_URL: "global.ci_insurance_url=insurance.d.doma.ai"
          WERF_SET_CI_REGISTRY_IMPORTER_URL: "global.ci_registry_importer_url=registry.d.doma.ai"
          WERF_SET_CI_MINIAPP_URL: "global.ci_miniapp_url=miniapp.d.doma.ai"
          WERF_SET_CI_PROPERTY_IMPORTER_URL: "global.ci_property_importer_url=property-importer.d.doma.ai"
          WERF_SET_CI_CLASSIFIERS_API_URL: "global.ci_classifiers_api_url=ml.d.doma.ai"
          WERF_SET_CI_ADDRESS_SERVICE_URL: "global.ci_address_service_url=address-service.d.doma.ai"
          WERF_SET_CI_TELEPHONY_URL: "global.ci_telephony_url=telephony.d.doma.ai"
          WERF_SET_CI_DEV_PORTAL_WEB_URL: "global.ci_dev_portal_web_url=developers.d.doma.ai"
          WERF_SET_CI_PASS_URL: "global.ci_pass_url=miniapp-pass.d.doma.ai"
          WERF_SET_CI_DOCUMENTS_URL: "global.ci_documents_url=documents.d.doma.ai"
          WERF_SET_CI_DEV_PORTAL_API_URL: "global.ci_dev_portal_api_url=developers-api.d.doma.ai"
          WERF_SET_CI_EMPLOYEE_BOT_URL: "global.ci_employee_bot_url=telegram-employee-bot.d.doma.ai"
          WERF_SET_CI_TICKET_IMPORTER_URL: "global.ci_ticket_importer_url=eds-integration.d.doma.ai"
          WERF_SET_CI_EXTERNAL_API_URL: "global.ci_external_api_url=bank-rest-api.d.doma.ai"
          WERF_SET_CI_RESIDENT_APP_URL: "global.ci_resident_app_url=m.d.doma.ai"
          WERF_SET_CI_RESIDENT_APP_BOT_URL: "global.ci_resident_app_bot_url=m-bot.d.doma.ai"
          WERF_SET_CI_ANNOUNCEMENT_GENERATOR_URL: "global.ci_announcement_url=announcement-generator.d.doma.ai"
          WERF_SET_CI_NEWS_GREENHOUSE_URL: "global.ci_news_greenhouse_url=news-sharing-greendom.d.doma.ai"
          WERF_SET_CI_METER_IMPORTER_URL: "global.ci_meter_importer_url=meters-billing-integration.d.doma.ai"
          WERF_SET_CI_NEWS_TELEGRAM_WEB_URL: "global.ci_news_telegram_web_url=news-telegram.d.doma.ai"
          WERF_SET_CI_NEWS_TELEGRAM_API_URL: "global.ci_news_telegram_api_url=news-telegram-api.d.doma.ai"
          WERF_SET_CI_BILLING_CONNECTOR_URL: "global.ci_billing_connector_url=billing-connector.d.doma.ai"
          WERF_SET_CI_POS_INTEGRATION_URL: "global.ci_pos_integration_url=pos-integration.d.doma.ai"
          WERF_SET_CI_PROPERTY_AI_ASSISTANT_URL: "global.ci_property_ai_assistant_url=property-ai-assistant.d.doma.ai"
          WERF_SET_CI_NAMESPACE: "global.ci_namespace=development"
          WERF_NAMESPACE: "development"
          WERF_VIRTUAL_MERGE_FROM_COMMIT: "true"
          WERF_SET_CI_REF: "ci.werf.io/ref=${GITHUB_REF_NAME}"
          WERF_REPO: ${{ secrets.DOCKER_REGISTRY }}/condo/condo
          WERF_REPO_CONTAINER_REGISTRY: default
