name: gitexporter
on:
  schedule:
    - cron:  '10 */12 * * *'
  push:
    branches:
      - 'main'

jobs:
  gitexporter:
    name: Gitexporter
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.SSH_DOCK_SERVER_PRIVATE_KEY }}
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          repository: 'open-condo-software/condo'
          fetch-depth: 0
          submodules: recursive
          ssh-key: ${{ secrets.SSH_DOCK_SERVER_PRIVATE_KEY }}
          path: ignore.gitexporter.source
          ref: 'main'
      - name: Checkout target code
        uses: actions/checkout@v4
        with:
          repository: 'open-condo-software/open-condo-platform'
          fetch-depth: 0
          submodules: recursive
          ssh-key: ${{ secrets.SSH_DOCK_SERVER_PRIVATE_KEY }}
          path: ignore.gitexporter.target
          ref: 'main'
      - name: gitexporter.sh
        run: |
          npm i -g npx
          bash .github/workflows/gitexporter.sh ignore.gitexporter.source ignore.gitexporter.target
