name: Lint

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 16.x ]

    steps:
      - name: Checkout code with submodules
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: recursive
          ssh-key: ${{ secrets.SSH_DOCK_SERVER_PRIVATE_KEY }}

      - name: Check lint with eslint
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install packages
        run: |
          npm i -g turbo
          yarn install --immutable

      - name: Lint code
        run: yarn lint

      - name: Lint I18n translation keys
        run: yarn workspace @app/condo lint-i18n-translations

      - name: Lint common patterns
        run: bash ./bin/lint-common-patterns.sh
