# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: RUN CONDO TESTS

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]
        database: ["postgresql://postgres:postgres@127.0.0.1/main"]

    steps:
      - uses: actions/checkout@v2
      - name: Prepare .env
        run: cp .env.example .env
      - name: Docker compose up databases
        run: docker-compose up -d postgresdb redis
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: install packages
        run: |
          yarn
          pip3 install django
          pip3 install psycopg2-binary
      - name: run tests for ${{ matrix.database }}
        run: |
          set -x
          # export DEBUG=knex:query,knex:tx
          # export DEBUG_MONGOOSE=1
          [[ $DATABASE_URL == postgresql* ]] && yarn workspace @app/condo migrate
          export NODE_ENV=test
          export NOTIFICATION__SEND_ALL_MESSAGES_TO_CONSOLE=true
          yarn workspace @app/condo dev &
          yarn workspace @app/condo worker &
          # Wait until server is up!
          bash ./.github/workflows/waitForLocalhostApiReady.sh
          sleep 3
          yarn jest ./packages/@core.keystone
          yarn workspace @app/condo test --silent --coverage
        env:
          DATABASE_URL: ${{ matrix.database }}
          NODE_ENV: development
          DISABLE_LOGGING: true
      - name: test front build
        run: |
          docker-compose down
          echo "# Build time .env config!" > .env && \
          	echo "COOKIE_SECRET=undefined" >> .env && \
          	echo "DATABASE_URL=undefined" >> .env && \
          	echo "WORKER_REDIS_URL=undefined" >> .env && \
          	echo "NODE_ENV=production" >> .env
          yarn workspace @app/condo build
