name: Remove Review

on:
  workflow_dispatch:
    branches:
      - '/^review-.*$/'
  pull_request:
    types:
      - closed
    branches:
      - '/^review-.*$/'
  delete:
    branches:
      - '/^review-.*$/'
jobs:
  converge:
    name: "Remove review"
    runs-on: self-hosted
    env:
      WERF_SECRET_KEY: ${{ secrets.WERF_SECRET_KEY }}
      PULL_USER: ${{ secrets.PULL_USER }}
      PULL_PERSONAL_ACCESS_KEY: ${{ secrets.PULL_PERSONAL_ACCESS_KEY }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: recursive
          ssh-key: ${{ secrets.RUNNER_SSH_PRIVATE_KEY }}
      - name: Set env for namespace
        run: echo "REVIEW_NAMESPACE=$(echo review-${GITHUB_REF##*/} | sed 's/\_/-/g')" >> $GITHUB_ENV
      - name: Dismiss
        uses: werf/actions/dismiss@v1.2
        env:
          WERF_NAMESPACE: ${{ env.REVIEW_NAMESPACE }}
          WERF_WITH_NAMESPACE: true
        with:
          env: review
