.banner-wrapper {
  position: relative;
  width: 100%;
  overflow: visible;
  container-type: inline-size;
}

.banner-card {
  position: relative;
  width: 100%;
  min-height: 200px;
  padding: 40px 32px;
  overflow: hidden;
  background: var(--condo-global-color-brand-gradient-1);
  border-radius: 12px;
}

.banner-content {
  position: relative;
  z-index: 2;
  max-width: 60%;
}

.image-wrapper {
  position: absolute;
  top: 50%;
  right: 60px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

@container (max-width: 1000px) { /* stylelint-disable-line at-rule-no-unknown */
  .image-wrapper {
    right: -100px;
    transform: translateY(-50%) scale(0.5);
  }

  .banner-content {
    max-width: 50%;
  }
}

@container (max-width: 800px) { /* stylelint-disable-line at-rule-no-unknown */
  .image-wrapper {
    display: none;
  }

  .banner-content {
    max-width: 100%;
  }
}
